body {
    background-color: #EFEFEF;
    margin: 10% auto;
    max-width: 920px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navigation {
    grid-area: navigation;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #CAEBF2;
    color: #000;
    height: fit-content;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 30px 10px 30px;
    line-height: 20pt;
}

#photo {
    grid-area: photo;
    background-color: #FF3B3f;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 15%;
}

#header {
    grid-area: header;
    background-color: #CAEBF2;
    height: fit-content;
    text-align: center;
    font-size: xx-large;
    line-height: 30%;
    padding: 20px 20px;
}

#contact {
    grid-area: contact;
    background-color: #CAEBF2;
    height: fit-content;
    padding: 20px 20px;
    text-align: center;
}

#socials {
    grid-area: socials;
    background-color: #CAEBF2;
    height: fit-content;
    padding: 20px 20px;
    text-align: center;
}

#aboutMe {
    grid-area: aboutMe;
    background-color: #CAEBF2;
    text-align: center;
    height: auto;
    padding: 20px 20px;
}

#skills {
    grid-area: skills;
    background-color: #A9A9A9;
    text-align: center;
    font-size: large;
    padding: 20px 20px;
}

#projects {
    grid-area: projects;
    background-color: #CAEBF2;
    text-align: center;
    font-size: large;
    padding: 20px 20px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
}

#one,
#two,
#three {
    padding: 20px 20px;
}

#footer {
    padding: 5px 5px 5px 5px;
}

.footer {
    grid-area: footer;
    background-color: #CAEBF2;
    text-align: center;
    /* padding-top: 5px; */
    height: fit-content;
}

img {
    display: inline;
    margin: 0 auto;
}

.aboutMePhoto {
    display: inline;
    margin: 0 auto;
    width: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.icon {
    display: inline;
    margin: 0 auto;
    width: auto;
    height: 310px;
    padding: 10px 20px;
}

.gif {
    width: 90%;
}

h1 {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 36pt;
    color: #FF3B3f;
    text-align: center;
    line-height: 34pt;
}

h2 {
    font-size: large;
    color: #888;
    text-align: center;
}

h3 {
    font-size: x-large;
    color: #FF3B3f;
    text-align: center;
}

h1,
h2,
h3 {
    margin: 0px 0px 0px 0px;
}

h4 {
    font-size: x-large;
    font-weight: normal;
    color: #A9A9A9;
    text-align: center;
    display: inline;
    padding-top: 10px;
}

.sectionHeader {
    margin-bottom: 5px;
}

p {
    text-align: justify;
}

article {
    text-align: center;
}

.smallBox {
    width: 375px;
}

.mediumBox {
    width: 775px;
    margin: auto;
}

.wrapper {
    color: #000;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 220px 1fr 1fr;
    grid-template-areas:
        "navigation navigation navigation"
        "photo header header"
        "photo contact socials"
        "skills aboutMe aboutMe"
        "projects projects projects"
        "footer footer footer";
}

div,
nav {
    border-radius: 8px;
}


a:hover {
    color: #FF3B3f;
}

a {
    color: #000;
    text-decoration: none;
    padding: 0px 15px;
}

.icon:hover,
.gif:hover {
    transform: scale(1.5);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

:target {
    -webkit-animation: target-fade 1s;
    animation: target-fade 1s;
}

@-webkit-keyframes target-fade {
    from {
        background-color: #FF3B3f;
    }

    to {
        background-color: transparent;
    }
}

@keyframes target-fade {
    from {
        background-color: #FF3B3f;
    }

    to {
        background-color: transparent;
    }
}

@media only screen and (min-width: 1170px) {
    #navigationMobile {
        grid-area: contactMobile;
        display: none;
    }

    #contactMobile {
        grid-area: contactMobile;
        display: none;
    }
}

@media only screen and (max-width: 1169px) {
    body {
        margin: 9%;
        text-align: center;
    }

    .wrapper {
        color: #000;
        display: grid;
        text-align: center;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "navigation navigation"
            "photo photo"
            "header header"
            "contactMobile socials"
            "aboutMe aboutMe"
            "skills skills"
            "projects projects"
            "footer footer";
    }

    #photo {
        grid-area: photo;
        background-color: #FF3B3f;
        height: 210px;
        position: relative;
        overflow: hidden;
        text-align: center;
        padding-top: 15px;
    }

    #navigationMobile {
        grid-area: navigation;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #CAEBF2;
        color: #000;
        text-align: center;
        letter-spacing: 2px;
        padding-top: 8px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 20pt;
    }

    #contactMobile {
        grid-area: contactMobile;
        background-color: #CAEBF2;
        height: fit-content;
        padding: 20px 20px;
        text-align: center;
    }

    #navigation {
        display: none;
    }

    #contact {
        display: none;
    }

    img {
        display: inline;
        margin: 0 auto;
        width: auto;
        width: 700px;
    }

    .aboutMePhoto {
        display: inline;
        margin: 0 auto;
        width: auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }


    .minLineHeight {
        line-height: 6pt;
    }

    .maxLineHeight {
        line-height: 36pt;
    }

    .mediumBox {
        width: 90%;
    }
}